.brand {
  font-weight: 700;
  color: #fff;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: var(--color-brand);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.nav {
  display: none;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--navbar-height);
}

.right {
  padding-left: 2rem;
  margin-left: auto;
}

@media (min-width: 992px) {
  .item + .item {
    margin-left: 2rem;
  }

  .link {
    color: #fff;
  }

  .link:hover {
    text-decoration: underline;
  }

  .nav {
    display: flex;
    margin-left: 5rem;
  }
}
