.alert {
  padding: 0.5em;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.alert.m--danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
}
