.section {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .form {
    margin-bottom: -3rem;
  }
}

@media (min-width: 992px) {
  .address-row {
    display: flex;
  }

  .address-row > div {
    flex: 1;
    margin-right: 1rem;
  }
}
