.footer {
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: right;
  border-top: 1px solid var(--color-border);
}

.header {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 1px solid var(--color-border);
}

.header-total-price {
  margin-left: auto;
}

.info {
  position: absolute;
  top: 80%;
  right: 0;
  width: 30rem;
  max-width: 90%;
  padding: 1rem;
  color: var(--color-text);
  visibility: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: 0.2s;
}

.info.m--visible {
  top: 105%;
  visibility: visible;
  opacity: 1;
}

.items {
  max-height: 300px;
  padding: 0 0.5rem;
  overflow: auto;
}
