.btn {
  position: relative;
  padding: 5px;
  font-size: 32px;
  color: #fff;
}

.count {
  position: absolute;
  top: 2px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 13px;
  background: var(--color-brand-dark);
  border-radius: 50%;
}

.count.m--more {
  font-size: 10px;
}
