.details {
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.img {
  margin-right: 1rem;
}

.item {
  display: flex;
}

.item + .item {
  margin-top: 1rem;
}

.remove-btn {
  margin-left: 1rem;
  color: var(--color-brand);
}

.total-price {
  padding-left: 1rem;
  margin-left: auto;
}
