.content {
  grid-column: 2 / 4;
  margin-right: auto;
}

.description {
  font-size: 0.8rem;
  color: var(--color-text-light);
}

.item {
  display: grid;
  grid-template-columns: 100px auto 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.item + .item {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--color-border);
}

.price {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}

.remove-btn-md {
  color: var(--color-brand);
}

.title {
  font-size: 1.25rem;
}

.total-price {
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .remove-btn-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .content {
    grid-column: unset;
  }

  .item {
    grid-template-columns: 100px 1fr auto 6rem 1rem;
    grid-gap: 2rem;
  }

  .item + .item {
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .remove-btn-sm {
    display: none;
  }
}
