.step {
  position: relative;
  transition: 0.2s;
}

.step[disabled] {
  cursor: default;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.steps::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  background: var(--color-border);
  transform: translateY(-50%);
}

.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: #aaa;
  background: #fff;
  border: 2px solid var(--color-border);
  border-radius: 50%;
}

.step.m--current .number {
  color: var(--color-text);
  border-color: var(--color-text);
}

.step.m--success .number {
  color: #fff;
  background: var(--color-success);
  border: 0;
}

.title {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: #aaa;
  white-space: nowrap;
  transform: translateX(-50%);
}

.step.m--current .title {
  color: var(--color-text);
}

.step.m--success .title {
  color: var(--color-text);
}

@media (min-width: 992px) {
  .number {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .title {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
