.footer {
  margin-top: 1rem;
  text-align: right;
}

.header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 40;
  width: 40rem;
  max-width: 90%;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
  transform: translate(-50%, -50%);
}

.modal.m--visible {
  top: 50%;
  opacity: 1;
}

@media (min-width: 768px) {
  .header {
    font-size: 1.25rem;
  }
}
