.list {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5%;
  }
}

@media (min-width: 992px) {
  .list {
    margin: -3%;
  }
}
