.content {
  flex: 1;
  margin-left: 1rem;
}

.description {
  font-size: 0.8rem;
  color: var(--color-text-light);
}

.price {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}

.product {
  display: flex;
}

.title {
  font-size: 1.25rem;
}
