.img {
  width: 100px;
  height: 50px;
  background: center / cover no-repeat;
}

.img.m--product-list-item {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  border-radius: 1rem 1rem 0 0;
}

.img.m--sm {
  width: 60px;
  height: 30px;
}
