.add-btn {
  margin-left: auto;
}

.content {
  padding: 1rem;
}

.description {
  margin-bottom: 0;
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  margin-top: auto;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
}

.price {
  font-weight: 700;
  color: var(--color-brand);
}

.title {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .item + .item {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    border-top: 1px solid var(--color-border);
  }
}

@media (min-width: 768px) {
  .item {
    width: 40%;
    margin: 5%;
    border-radius: 1rem;
    transition: transform 0.2s;
  }

  .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

@media (min-width: 992px) {
  .item {
    width: 27%;
    margin: 3%;
  }
}
