.content {
  width: 100%;
  margin-bottom: 5rem;
}

.empty-action {
  margin-top: 3rem;
}

.empty-icon {
  font-size: 5rem;
  color: var(--color-border);
}

.info {
  max-width: 420px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .checkout {
    display: flex;
  }

  .content {
    margin: 0 3rem 0 0;
  }

  .info {
    flex-shrink: 0;
    width: 300px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .content {
    margin-right: 5rem;
  }
}
