.form-errors-message {
  padding: 0.4em;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  color: var(--color-danger);
  text-align: center;
  border: 1px solid var(--color-danger);
  border-radius: 5px;
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.info {
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.item {
  display: flex;
}

.items {
  margin-bottom: 1rem;
}

.value {
  padding-left: 1rem;
  margin-left: auto;
  text-align: right;
}

.total .value {
  font-weight: 700;
}

.total {
  padding-top: 0.5rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  border-top: 1px solid var(--color-border);
}
