.item {
  margin-bottom: 2px;
}

.link {
  display: block;
  padding: 1rem;
  color: #000;
  border-bottom: 1px solid var(--color-border);
}

.menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: -350px;
  z-index: 19;
  width: 320px;
  max-width: 90%;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.2s;
}

.menu.m--visible {
  left: 0;
}

@media (min-width: 992px) {
  .backdrop,
  .menu {
    display: none;
  }
}
