/* Variables */

:root {
  --color-border: #ddd;
  --color-brand: #f56;
  --color-brand-dark: #c23;
  --color-danger: #f00;
  --color-success: #8cf;
  --color-text: #444;
  --color-text-light: #888;
  --navbar-height: 4rem;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Base */

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--color-text);
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

/* Buttons */

.btn {
  padding: 0.5em 1em;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s;
}

.btn.m--primary {
  color: #fff;
  background: var(--color-brand);
}

.btn.m--primary:hover {
  background: var(--color-brand-dark);
}

.btn.m--disabled,
.btn.m--disabled:hover {
  cursor: not-allowed;
  background: #bbb;
}

.btn.m--md {
  font-size: 1rem;
}

.btn.m--full {
  width: 100%;
}

/* Forms */

.form-choice {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid var(--color-border);
  transform: translateY(2px);
}

.form-group.m--error .form-choice {
  border-color: var(--color-danger);
}

.form-choice.m--radio {
  border-radius: 50%;
}

.form-choice-input:checked + label > .form-choice {
  background: var(--color-success);
  border: 0;
}

.form-choice-input:checked + label > .form-choice.m--checkbox::after {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 0.6rem;
  height: 0.4rem;
  content: '';
  border: 3px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.form-choice-input:checked + label > .form-choice.m--radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.7rem;
  height: 0.7rem;
  content: '';
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.form-choice-input {
  display: none;
}

.form-choice-input + label {
  display: block;
  padding: 0.25rem 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.form-control:focus {
  border-color: var(--color-text-light);
}

.form-group.m--error .form-control {
  border-color: var(--color-danger);
}

.form-error {
  font-size: 0.8rem;
  color: var(--color-danger);
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

/* Layout */

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-bottom: 2rem;
}

/* Helpers */

.text-center {
  text-align: center;
}

.text-light {
  color: var(--color-text-light);
}
