.btn {
  width: 1.5rem;
  height: 2rem;
}

.input {
  width: 2.6rem;
  height: 2rem;
  text-align: center;
  border: 0;
  outline: none;
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}
